body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #151875;
    // max-width: 375px;
}

nav {
    .un {
        background-color: #7E33E0;
        color: white;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0;
            padding: 10px;
            font-size: 16px;
        }
    }

    .deux {
        font-size: 34px;
        font-weight: bold;
        // padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;

        &>div {
            display: flex;

            .burger {
                // margin-top: 6px;
                margin-right: 10px;

                div {
                    background-color: #FB2E86;
                    width: 30px;
                    height: 4px;
                    margin-top: 6px;
                    border-radius: 2px;
                }
            }

            .recherche {
                background-color: #FB2E86;
                width: 50px;
                height: 35px;
                text-align: center;
            }
        }
    }
}

.section1 {
    background-color: rgba(246, 245, 255, 1);
    height: 287px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    ul {
        list-style-type: none;
        display: flex;
    }

    span {
        color: #FB2E86;
    }
}

.section2 {
    display: flex;
    flex-direction: column;

    .Product1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;

        h2 {
            text-align: center;
        }

        :nth-last-child(2) {
            overflow: hidden;
        }

        .divimg {
            img {
                float: left;
                width: 80px;
                height: 80px;
                background-size: contain;
                padding: 10px;
            }

            :nth-child(2) {
                color: rgba(0, 0, 0, 1);
                font-weight: bold;
                margin: 14px;
            }

            :nth-child(3) {
                color: rgba(161, 168, 193, 1);
                margin: 0;
            }

            :nth-child(4) {
                color: rgba(161, 168, 193, 1);
                margin: 0;
            }
        }

        .prix {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
        }

        .input-quantity {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            margin: 20px;

            .label {
                font-weight: bold;
                margin-bottom: 10px;
            }

            .quantity-container {
                display: flex;
                align-items: center;
                margin: 30px 0;

                input[type="number"] {
                    width: 50px;
                    height: 30px;
                    text-align: center;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    margin: 0 10px;
                    outline: none;
                }

                .decrease-btn,
                .increase-btn {
                    width: 30px;
                    height: 30px;
                    background-color: #ccc;
                    border: none;
                    border-radius: 5px;
                    font-size: 20px;
                    color: #fff;
                    cursor: pointer;
                }

                .increase-btn {
                    background-color: #ccc;
                }

                .decrease-btn:hover,
                .increase-btn:hover {
                    opacity: 0.8;
                }
            }
        }

        .total {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: bold;
        }
    }
}

.section3 {
    .h2 {
        text-align: center;
        margin: 30px;
    }

    .cart {
        background-color: #F4F4FC;
        height: 284px;
    }

    .subtotal,
    .total {
        font-size: 18px;
        display: flex;
        flex-direction: column;

        :nth-last-child(2) {
            display: flex;
            justify-content: space-between;
            padding: 15px 10px 10px;
            align-items: center;
        }

        .ligne {
            width: 350px;
            height: 2px;
            background-color: rgba(232, 230, 241, 1);
            margin-left: 10px;

        }
    }

    .label {
        display: flex;
        flex-direction: column;
        margin: 20px;

        .button {
            background-color: #19D16F;
            width: 321px;
            height: 40px;
            border: none;
            border-radius: 3px;
            font-size: 14px;
            color: white;
            margin-top: 20px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 20px;

        input {
            height: 60px;
            border-right: none;
            border-bottom: 2px solid #C5CBE3;
            border-left: none;
            border-top: none;
            background-color: #f4f4fc;
        }


            input::placeholder {
                display: flex;
                color: #C5CBE3;
                font-size: 14px;
                font-weight: 400;
                
            }
            button{
                background-color: #FB2E86;
                width: 179px;
                height: 40px;
                border-radius: 3px;
                border: none;
                color: white;
                font-size: 16px;
                margin: 25px 0;
            }
        

    }
}
footer {
    background-color: #EEEFFB;
    text-align: center;

    &>h2 {
        font-size: 24px;
        font-weight: 600;
        color: black;
    }

    &>h2:nth-child(1) {
        font-weight: bold;
    }

    &>form:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.5);
        width: 270px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        border-radius: 3px;

        input {
            height: 28px;
            border: none;
            color: #8A8FB9;
            background-color: rgba(255, 255, 255, 0);
            width: 160px;
        }

        button {
            height: 35px;
            background-color: #FB2E86;
            border: none;
            border-radius: 3px;
            width: 100px;
            color: #EEEFFB;
        }

    }

    p {
        color: #8A8FB9;
    }

    &>div:nth-child(5) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #E7E4F8;

    }
}